<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <!--<add name="music_loginConnectionString" connectionString="Data Source=.;Initial Catalog=music_login;Integrated Security=True"
      providerName="System.Data.SqlClient" /> -->
    <add name="Dance_WebConnectionString" connectionString="Data Source=LENOVO-PC\MSSQLSERVER1;Initial Catalog=Dance_Web;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime />
    </system.web>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
</configuration>
